@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Manrope;
  src: url("./../Assets/Fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

body {
  font-family: Manrope;
  background-color: #121212;
  color: white;
}

.sideBarLink-active {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
  border-right-width: 4px;
  opacity: 100% !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.music-player {
  background: rgba(18, 18, 18, 0.4);
  backdrop-filter: blur(74px);
}

.rangeInput {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 4px; /* Specified height */
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #484848 0%
  ); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 6px;
  font: red;
  cursor: pointer;
}

/* The rangeInput handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 4px; /* Set a specific slider handle width */
  height: 4px; /* Slider handle height */
  border-radius: 16px;
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  transition: all 0.1s;
}

.rangeInput:hover::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}

.rangeInput::-moz-range-progress {
  background-color: red;
}

.playPauseButton {
  background: linear-gradient(
    222.22deg,
    #ffffff 12.65%,
    rgba(255, 255, 255, 0) 216.78%
  );
}

.repeatMusicBtn path:last-child {
  display: none;
}

.musicNavbar {
  background: rgba(18, 18, 18, 0.4);
  backdrop-filter: blur(74px);
}
