@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Manrope;
  src: url("./../Assets/Fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Manrope;
  background-color: #121212;
  color: white;
  overflow: hidden;
  height: 100vh;
}

.sideBarLink-active {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
  border-right-width: 4px;
  opacity: 100% !important;
}

/* width */
::-webkit-scrollbar {
  @apply w-0 md:w-[10px];
  /* width: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.music-player {
  background: rgba(18, 18, 18, 0.4);
  backdrop-filter: blur(10px);
}

.rangeInput {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 4px; /* Specified height */
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #484848 0%
  ); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 6px;
  font: red;
  cursor: pointer;
}

/* The rangeInput handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 4px; /* Set a specific slider handle width */
  height: 4px; /* Slider handle height */
  border-radius: 16px;
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  transition: all 0.1s;
}

.rangeInput:hover::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
}

.rangeInput::-moz-range-progress {
  background-color: red;
}

.playPauseButton {
  background: linear-gradient(
    222.22deg,
    #ffffff 12.65%,
    rgba(255, 255, 255, 0) 216.78%
  );
}

:active {
  /* background-color: transparent; */
  outline: none !important;
}

:focus-visible {
  /* background-color: red; */
}

.repeatMusicBtn path:last-child {
  display: none;
}

.musicNavbar {
  background: rgba(18, 18, 18, 0.5);
  backdrop-filter: blur(32px);
}

.cardContent {
  background: linear-gradient(
    180deg,
    rgba(18, 9, 17, 0.5) -96.72%,
    #0e0e0e -96.69%,
    rgba(86, 86, 86, 0) 184.43%
  );
  backdrop-filter: blur(30px);
}
.cardContentPlay {
  background: linear-gradient(
    222.22deg,
    #ffffff 12.65%,
    rgba(255, 255, 255, 0) 216.78%
  );
}

.MusicCard:hover .cardContentPlay {
  top: 6px;
}

.MusicCard:hover .cardContent {
  bottom: 0;
}

.ArtistCard:hover .cardContentPlay {
  top: 6px;
}

.ArtistCard:hover .cardContent {
  bottom: 0;
}

.PlaylistCard:hover .cardContentPlay {
  top: 6px;
}

.PlaylistCard:hover .cardContent {
  bottom: 0;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.ArtistImage:hover {
  border-radius: 100%;
}

.swiper-pagination-bullet {
  @apply h-2 w-2 md:h-[10px] md:w-[10px];
  opacity: 100;
  background: white;
  border: 1px solid black;
  transition: 0.3s;
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  @apply h-2 w-12 md:h-[10px] md:w-14;
  transition: 0.3s;
  opacity: 100;
  background: red;
  border-radius: 10px;
  border: 1px solid red;
}
